 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 


* {
  padding: 0;
  margin: 0;
  
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #3e367e;
}

 

.header {
  /* background: #3d5a80; */
  /* color:  rgb(255, 243, 255);  */
  color: #aeb8fe;
   font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 400; 
    padding-left: 675px;
    padding-top: 29px; 
    padding-bottom: 22px; 
}

.home-card{
  border-radius: 5%;
  font-family: "McLaren", cursive; 
   margin: 50px auto ;
  width: 500px;
  background-color: #f45b69;
  color: #f9f9f7;
  height: 300px;
  text-align: center;
  padding-top: 40px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(180, 179, 179);
}

.start-quiz{
    background: #9e0059;
    width: 126px;
    height: 50px;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 199px;
    /* padding: 9px 16px; */
    border:0px;
    border-radius: 10%;
}

.btn { 
  background-color: #7a22ec;
  border-radius: 60px;
  border:0;
  -webkit-box-shadow: 0px 2px 3px #4a4a4a;
  -moz-box-shadow: 0px 2px 3px #4a4a4a;
  box-shadow: 0px 2px 3px #4a4a4a;
  font-family: Arial;
  color: #ebebeb;
  font-size: 19px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background:  #8230fc;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.create-note {
  position: relative;
  width: 490px;
  margin-top: 50px;
  margin-left: 500px;   background-color: #5aa9e6;
  color:#160f29;
  padding: 15px;
  border-radius: 7px; 
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  font-size: 1.4em; 
}

.create-note p{ 
    color:#eff6e0; 
  font-family: 'Roboto', sans-serif;
  }
  .create-note h2{
    color:#ebebeb;
    font-size: 1.5em;
}
.create-note .dummy {
  margin-bottom: 30px;
}
.create-note .button-next {
  position: absolute;
  right: 18px;
  bottom: 0;
  color: #7a22ec; 
  margin-bottom: 10px; 
  cursor: pointer;
  outline: none;
}
.create-note .button-previous {
  position: absolute;
  left: 18px;
  bottom: 0;
  color: #7a22ec;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.create-note .button-submit {
  position: absolute;
  right: 18px;
  bottom: 0;
  background: #7a22ec;
  color: #fff;
  border: none;
  border-radius: 10%; 
  margin-bottom: 10px;
  width: 65px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.padding{
  background: #1368aa;
  padding:10px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.result {
  position: relative;
  width: 800px;
  margin-top: 50px;
  margin-left: 375px;
  /* background: #fff; */
  /* background-color: #a7e8bd; */
  background-color: #5aa9e6;
  color:#160f29;
  padding: 15px;
  border-radius: 7px; 
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  font-family: 'Montserrat', sans-serif;
}
.result p{
    font-size: 1em;
    color:#eff6e0;
  }
  .result h2{
    /* color:rgb(138, 137, 137); */
    color:#d8e2dc;
    font-size: 1.2em;
}

p.paper{
  color: #c5dffd;
  /* color:#22ffc0; */
  /* color: #ff4958; */
  margin-bottom: 20px;
}